.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.box-container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 25vh 25vh 25vh 25vh;
}

.grid-box {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
}

.grid-box input {
  width: 80%;
}

@media (min-width: 360px) {
  .box-container {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh;
  }
}

@media (min-width: 720px) {
  .box-container {
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 25vh;
  }
}
